*__debug_bin
internal/builds/windows/nodejs/
internal/builds/windows/www/
internal/builds/linux/companion/nodejs/
internal/builds/linux/companion/www/
*.box
internal/builds/linux/webserver/bin
internal/builds/linux/packager/packager
internal/builds/linux/packageinstaller/bin
internal/builds/linux/webserver/bin
internal/builds/linux/did/bin
internal/builds/linux/carrier/bin
internal/builds/linux/mainchain/bin
internal/builds/linux/system/www
internal/builds/linux/glide/www/
internal/builds/linux/eid/bin/geth
internal/builds/linux/esc/bin/esc
internal/builds/linux/mainchain/bin/ela
internal/builds/linux/mainchain/bin/ela-cli
